body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
}
img {
  width: 100%;
}

/* header section css */
.header-section {
  background-image: url("../images/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5rem 0;
}
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}
.header-contents {
  flex-basis: 45%;
}
.header-contents h3 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
}
.header-contents h1 {
  color: #f0769d;
  font-size: 3.5rem;
  font-weight: 800;
  margin: 0 0 3rem 0;
}
.header-contents p {
  margin-bottom: 3rem;
}
.header-contents a {
  display: inline-block;
  background-color: #f0769d;
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  transition: 0.4s;
}
.header-contents a:hover {
  transform: translate(10px);
}
.header-image {
  flex-basis: 45%;
}

/* biography section css */
.biography-section {
  background-image: url("../images/biography-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5rem 0;
}
.main-biography {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}
.biography-image {
  flex-basis: 45%;
}
.biography-contents {
  flex-basis: 45%;
}
.biography-contents h3 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
}
.biography-contents p {
  margin-bottom: 3rem;
}
.biography-contents a {
  display: inline-block;
  background-color: #f0769d;
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 800;
  transition: 0.4s;
}
.biography-contents a:hover {
  transform: translate(10px);
}

/* latest work section css */
.work-section {
  background-image: url("../images/latest-work-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5rem 0;
}
.main-work h3 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
  text-align: center;
}
.my-work {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 0;
}
.col {
  flex-basis: 30%;
}

/* testimonial & contact css */
.testimonial-contact-section {
  background-image: url("../images/latest-work-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5rem 0;
}
.main-testimonial {
  text-align: center;
}
.main-testimonial h3 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 5rem 0;
}
.client h5 {
  font-size: 1rem;
  font-weight: 800;
  margin: 0;
}
.client p {
  font-size: 0.7rem;
}
.quote {
  margin-top: 2rem;
}
.quote p {
  line-height: 1.6;
}
.contact {
  background-color: #f0769d;
  width: 333px;
  margin: 5rem auto;
  text-align: center;
  padding: 1rem 3rem;
  color: #fff;
  border-radius: 1rem;
}
.contact p {
  font-size: 0.7rem;
}
.contact h4 {
  font-size: 1.3rem;
}

/* footer section css */
.main-footer p {
  text-align: center;
  padding: 1rem 0;
}
